body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(219, 216, 216);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  #footer {
    justify-content: center;
    
  }
  .footer-item {
    display: flex;
    border-radius: 1.55em;
    padding: 0.45em 0.45em;
    margin: 0 5px;
    color: #666;
    font-weight: medium;
    transition: all 0.2s;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
   
  } 
  .footer-item:hover {
    box-shadow: 0 0.11em 0.11em #bbb;
    color: #111;
    background-color: rgb(255, 248, 248);
  } 
  .footer-item:active{
    box-shadow: 0 0.11em 0.11em #ccc inset;
	  color: #03a9f4;
  }
  .footer-icon {
    font-size: 1em;
  }
  
  
  .popup-wrap {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    content: '';
    background: rgba(0, 0, 0, 0.85);
  }
  
  .popup-box {
    width: 50%;
    padding: 80px 80px;
    transform: translate(-50%, -50%) scale(0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background: #fff;
    text-align: center;
  }
  h2 {
    font-size: 30px;
    color: #1a1a1a;
  }
  .t1{
    font-size:20px;
    color:#AA9FAA;
    }
  
  .close-btn {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 80%;
    background: #d75f70;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    font-size: 40px;
  }
  
  .transform-in, .transform-out {
    display: block;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  
  .transform-in {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  
  .transform-out {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
  }

  .surebutton {
    border:0;
    background-color:#afb5c0;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    position:absolute;
    top: 380px;
    right:50px;
  }
  
  .surebutton:hover{
    color:#003C9D;
    background-color:#fff;
    border:2px #003C9D solid;
  }
  .selectBox {
    border: 1px solid #55aaff;
    background-color: rgba(75, 160, 255, 0.3);
    position: fixed;
  } 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 440px;
    left:30px;
    text-align: center;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
  
    text-decoration: none;
    display: block;
  }
  .dropdown a:hover {
    background-color: #ddd;
  }
  .show {
    display: block;
  }