body {
	  margin: 0;
}
canvas {
	display: block;
}
input {
	position: absolute;
}





/* body {
  overflow: hidden;
  margin: 0;
  overflow-y:auto;
  position: fixed;
} */




/* .navbar{
    background-color: #333;
    height: 50px;
    position: fixed;
}.container{
    width: 1024px;
    
  }
  .selectBox {
    border: 1px solid #55aaff;
    background-color: rgba(75, 160, 255, 0.3);
    position: fixed;
  } 
 
 
  #menu {
    position: fixed; 
    border-left: none;
    border-right: none;
    z-index: 10;
  }
  .footer {
    justify-content: center;
    
  }
  .footer-item {
    display: flex;
    border-radius: 1.55em;
    padding: 0.45em 0.45em;
    margin: 0 5px;
    color: #666;
    font-weight: medium;
    transition: all 0.2s;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
   
  } 
  .footer-item:hover {
    box-shadow: 0 0.11em 0.11em #bbb;
    color: #111;
    background-color: rgb(255, 248, 248);
  } 
  .footer-item:active{
    box-shadow: 0 0.11em 0.11em #ccc inset;
	  color: #03a9f4;
  } */
  /* .footer-item {
   
  }
   */
  /* .footer-icon {
    font-size: 1em;
  }
  
  #viewerCanvasWrapper  {
    display: flex;
    position: fixed;
    top: 10px;
    right: 200px;
    z-index: 10;
  }
  #backToHome {
    color: #aaa;
    opacity: 0.5;
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    padding: 0.65em 1.55em; 
   
  }
  #backToHome:hover {
    opacity: 1;	
   
  } 

 
